body {
    background-color: rgb(66, 0, 0);
    color: whitesmoke;
}
h1 {
    background-color: black;
    color: whitesmoke;
    border-color: whitesmoke;
    border: 10;
    border-style: solid;

    text-align: center;
    font-size: 60px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    background-color: black;
    color: whitesmoke;
    border-color: whitesmoke;
    border: 10;
    border-style: solid;

    text-align: center;
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.Table1{
    max-width: 870px;
    overflow: auto;
    float: left;
}
.Table1 div{
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    float: left;
    background-color: black;
    color: whitesmoke;
    border-color: whitesmoke;
    border: 10;
    border-style: solid;
}
.desc1{
    min-width: 200px;
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    background-color: black;
    color: whitesmoke;
    border-color: whitesmoke;
    border: 10;
    border-style: solid;
    float: left;
}
